@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body {
    background: linear-gradient(90deg, green, yellow)
}
.container {
    text-align: center;
    margin-top: 20px;
}
.videos_icon{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    width: 300px;
    height: 180px;
    margin-bottom: 10px;
    border: 2px solid black;
    background: linear-gradient(90deg, #ffffff, #ffff00, #ffffff);
    padding: 10px;
    border-radius: 10px;
}
.videos_icon img{
    height: 50px;
    width: 100px;
}
.videos_icon h4{
    color: black;
    font-family: Do Hyeon;
} 
.button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: red;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.button:hover{
    color: red;
    background-color: white;
}
.modal-content{
    margin-top: 100px;
}
.modal{
    text-align: center;
}
.modal-body iframe{
    margin-top: 10px;
    margin-bottom: 10px;
}